body {
    background-color: #ddd;
    font-size: 20px;
    color: #333;
}

#content {
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 1px solid #333;
    padding: 20px;
}

p {
    color: #035f9c;
    font-size: 1.2em;
    margin-top: 0;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
}

h1,
h2,
p {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#topics {
    width: 55%;
    margin: 20px auto;
    line-height: 1.5em;
}

img {
    display: block;
    margin: 20px auto;
    width: 50%;
}

.list {
    list-style-type: none;
}